<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Student Management System</h1>
    <hr>
    <h2>Save Student</h2>

    <form action="#" th:action="@{/student/save}" th:object="${student}"
          method="POST">
        <input type="text" th:field="*{fullName}" placeholder="Student fullName"
               class="form-control mb-4 col-4">
        <input type="text"
               th:field="*{phoneNumber}" placeholder="Student PhoneN Number"
               class="form-control mb-4 col-4">
        <input type="text"
               th:field="*{age}" placeholder="Student Age"
               class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Save
            Student
        </button>
    </form>

    <hr>

    <a th:href="@{/student/}"> Back to Student List</a>
</div>
</body>
</html>