<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Student Management System</h1>
    <hr>
    <h2>Update Student</h2>

    <form action="#" th:action="@{/student/save}" th:object="${student}"
          method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{fullName}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{phoneNumber}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{age}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2"> Update Student</button>
    </form>
    <hr>
    <a th:href = "@{/student/}"> Back to Student List</a>
</div>
</body>
</html>
